.head{
    background-color: #dfbf9f; 
}
body{
    background-image: url(../quiz-board/image/background.jpeg);
    background-size: cover;
}
.qstn1, .qstn2, .qstn3, .qstn4, .qstn5{
    font-size: 120%;
}
#result{
    color:black;
    border: 15px solid white;
}